<h1>Listing enrolls</h1>

<table>
  <tr>
    <th>User</th>
    <th>Lecture</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @enrolls.each do |enroll| %>
  <tr>
    <td><%= enroll.user_id %></td>
    <td><%= enroll.lecture %></td>
    <td><%= link_to 'Show', [enroll.lecture, enroll] %></td>
    <td><%= link_to 'Edit', edit_lecture_enroll_path(enroll.lecture, enroll) %></td>
    <td><%= link_to 'Destroy', [enroll.lecture, enroll], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Enroll', new_lecture_enroll_path(params[:lecture_id]) %>
