<h1>수강신청 정보</h1>

<table>
  <tr>
    <th>신청자</th>
    <th>강의</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @enrolls.each do |enroll| %>
  <tr>
    <td><%= enroll.user_id %></td>
    <td><%= enroll.lecture %></td>
    <td><%= link_to '자세히', [enroll.lecture, enroll] %></td>
    <td><%= link_to '수정', edit_lecture_enroll_path(enroll.lecture, enroll) %></td>
    <td><%= link_to '삭제', [enroll.lecture, enroll], :confirm => '정말 삭제하시겠습니까?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '강의 추가', new_lecture_enroll_path(params[:lecture_id]) %>
