<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @enroll.user_id %>
</p>

<p>
  <b>Lecture:</b>
  <%= @enroll.lecture %>
</p>


<%= link_to 'Edit', edit_lecture_enroll_path(@enroll.lecture, @enroll) %> |
<%= link_to 'Back', lecture_enrolls_path(@enroll.lecture) %>
