<p id="notice"><%= notice %></p>
<table>
  <thead>
      <tr>
        <td>이수영역</td>
      </tr>
      <tr>
        <td>과목명</td>
      </tr>
      <tr>
        <td>과목 정보</td>
      </tr>
      <tr>
        <td>과목 내용</td>
      </tr>
      <tr>
        <td>강의계획서</td>
      </tr>
  </thead>
  <tbody>
    <% @lecture.each do |lecture| %>
      <tr>
        <td><%= lecture.category_id %></td>
      </tr>
      <tr>
        <td><%= lecture.name %></td>
      </tr>
      <tr>
        <td><%= lecture.info %></td>
      </tr>
      <tr>
        <td><%= lecture.content %></td>
      </tr>
      <tr>
        <td><%= lecture.url %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '수정', edit_category_lecture_path(@lecture.category, @lecture) %> |
<%= link_to '뒤로가기', category_lectures_path(@lecture.category) %>
