<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @lecture.name %>
</p>

<p>
  <b>Info:</b>
  <%= @lecture.info %>
</p>

<p>
  <b>Url:</b>
  <%= @lecture.url %>
</p>

<p>
  <b>Content:</b>
  <%= @lecture.content %>
</p>

<p>
  <b>Time limit start:</b>
  <%= @lecture.time_limit_start %>
</p>

<p>
  <b>Time limit end:</b>
  <%= @lecture.time_limit_end %>
</p>

<p>
  <b>Personnel limit:</b>
  <%= @lecture.personnel_limit %>
</p>

<p>
  <b>Limit on ruby:</b>
  <%= @lecture.limit_on_ruby %>
</p>

<p>
  <b>Category:</b>
  <%= @lecture.category %>
</p>


<%= link_to '수정', edit_category_lecture_path(@lecture.category, @lecture) %> |
<%= link_to '뒤로가기', category_lectures_path(@lecture.category) %>

<%params[:lecture_id] = params[:id]%>
<%=render template: 'enrollment/enrolls/index'%>
