<h1>관리자 정보</h1>

<table>
  <tr>
    <th>관리자</th>
    <th>권한</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lecture_admins.each do |lecture_admin| %>
  <tr>
    <td><%= lecture_admin.user_id %></td>
    <td><%= lecture_admin.lecture %></td>
    <td><%= link_to '자세히', [lecture_admin.lecture, lecture_admin] %></td>
    <td><%= link_to '수정', edit_lecture_lecture_admin_path(lecture_admin.lecture, lecture_admin) %></td>
    <td><%= link_to '삭제', [lecture_admin.lecture, lecture_admin], :confirm => '정말 삭제하시겠습니까?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '관리자 추가', new_lecture_lecture_admin_path(params[:lecture_id]) %>
