<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @lecture_admin.user_id %>
</p>

<p>
  <b>Lecture:</b>
  <%= @lecture_admin.lecture %>
</p>


<%= link_to '수정', edit_lecture_lecture_admin_path(@lecture_admin.lecture, @lecture_admin) %> |
<%= link_to '뒤로가기', lecture_lecture_admins_path(@lecture_admin.lecture) %>
