<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="field">
        <%= f.label :이름 %> &nbsp;
        <%= f.text_field :name %>
        <br><br>
        <%= f.label :정보 %> &nbsp;
        <%= f.text_field :info %>
      <br><br>
    </div>
    <div class="actions">
      <%= f.submit '확인' %>&nbsp;&nbsp;&nbsp;&nbsp;<button onclick="window.location.href='/categories/index.html.erb'">취소</button><%#= link_to '취소', categories_path %>
    </div>
  </div>
<% end %>
<footer class="bottom">
  <h4>Made by Communis</h4>
</footer>
