<p id="notice"><%= notice %></p>
<%= javascript_include_tag "enrollment/application" %>

<table>
  <thead>

  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.info %></td>
        <td><%= link_to '자세히', category_lectures_path(category) %></td>
        <td><%= link_to '수정', edit_category_path(category) %></td>
        <td><%= link_to '삭제', category, method: :delete, data: { confirm: '삭제하시겠습니까?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="new">
  <%= link_to '새 강의 분류', new_category_path %>
</div>
